<!DOCTYPE html>
<html>
<head>
  <title>ImageApp</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="app" id="app">
    <div id="content" class="app-content box-shadow-z0" role="main">

      <div class="container">
        <% if user_signed_in? %>
          <div class="app-header navbar-md white box-shadow">
            <%= render 'layouts/navbar' %>
          </div>
        <% end %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
